[Unit]
Description=arma3-web-console service
Requires=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory=${repo_dir}
ExecStartPre=git pull --recurse-submodules
ExecStart=/bin/bash ./run.sh
Restart=on-failure

LimitNOFILE=infinity
LimitCORE=infinity
StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always
SyslogIdentifier=arma3-web-console
PIDFile=/run/arma3-web-console.pid
User=steam
Group=steam
[Install]
WantedBy=multi-user.target
