[Unit]
Description=arma3-web-console service
Requires=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory=${repo_dir}/arma-server-web-admin
ExecStart=/usr/bin/npm start
Restart=on-failure

LimitNOFILE=infinity
LimitCORE=infinity
StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always
SyslogIdentifier=arma3-web-console-${user}
PIDFile=/run/arma3-web-console-${user}.pid
User=${user}
Group=${user}
[Install]
WantedBy=multi-user.target
