# Run the update script at 4am every day to ensure the mods are up to date
MAILTO="${email}"
00 04 * * * ${user} { /usr/bin/git -C "${repo_dir}" pull 2>&1 && "${repo_dir}/update.sh" -b ${config_branch} 2>&1; } >> "${logfile}"
